deploymentMode: SingleBinary   # Single process

loki:
  auth_enabled: false

  commonConfig:
    replication_factor: 1

  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h

  storage:
    type: s3
    bucketNames:
      chunks: "834033184010-loki-staging-chunks"  
      ruler: "loki-staging-ruler"     

    s3:
      endpoint: ""                    
      region: "ap-southeast-2"             
      accessKeyId: ""                
      secretAccessKey: ""            
      s3ForcePathStyle: false
      insecure: false
      http_config:
        idle_conn_timeout: 90s
        insecure_skip_verify: false

  server:
    http_listen_port: 3100
    grpc_listen_port: 9095
    log_level: info

  ingester:
    chunk_encoding: snappy
    chunk_idle_period: 30m
    chunk_retain_period: 15m
    max_chunk_age: 2h
    wal:
      enabled: true
      dir: /var/loki/wal

  ruler:
    enable_api: false


singleBinary:
  # replicas: 1       

  persistence:
    enabled: true
    storageClass: microk8s-hostpath
    accessModes:
      - ReadWriteOnce
    size: 10Gi      

  resources:
    requests:
      cpu: "500m"
      memory: "1Gi"
    limits:
      cpu: "1"
      memory: "2Gi"

  autoscaling:
    enabled: false    

  affinity: {}
  nodeSelector: {}
  tolerations: []

# ---------------------------
# Sidecar (optional)
# ---------------------------

sidecar:
  enabled: false


chunksCache:
  enabled: false

resultsCache:
  enabled: false

lokiCanary:
  enabled: true

service:
  type: ClusterIP
  port: 3100
