deploymentMode: SimpleScalable
loki:
  auth_enabled: false
  
  commonConfig:
    replication_factor: 1
    
  storage:
    type: s3
    bucketNames:
      chunks: ""
      ruler: ""
      admin: ""      
    s3:
      endpoint: s3.ap-southeast-2.amazonaws.com
      region: ""         
      s3ForcePathStyle: true
      insecure: false    
      
      
  schemaConfig:
    configs:
      - from: "2024-04-01"
        store: tsdb
        object_store: s3
        schema: v13
        index:
          prefix: loki_index_
          period: 24h
  
  limits_config:
    retention_period: 744h
    reject_old_samples: true
    reject_old_samples_max_age: 168h
    max_cache_freshness_per_query: 10m
    split_queries_by_interval: 15m
    query_timeout: 300s
    max_query_parallelism: 32
    max_query_series: 10000
    cardinality_limit: 100000
    ingestion_rate_mb: 10
    ingestion_burst_size_mb: 20
    per_stream_rate_limit: 5MB
    per_stream_rate_limit_burst: 15MB
  
  compactor:
    working_directory: /var/loki/compactor
    compaction_interval: 10m
    retention_enabled: true
    retention_delete_delay: 2h
    retention_delete_worker_count: 20      
    delete_request_store: s3

serviceAccount:
  create: false      # we created it manually
  name: awscli    


write:
  extraEnv:
    - name: AWS_REGION
      value: ""

  replicas: 1
  persistence: 
    volumeClaimsEnabled: true  
    accessModes:
      - ReadWriteOnce    
    size: 5Gi
    storageClass: ""  
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi  
  autoscaling:
    enabled: false

read:
  replicas: 1
  extraEnv:
    - name: AWS_REGION
      value: ""  
  persistence:
    volumeClaimsEnabled: false  
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: false

backend:
  replicas: 1
  extraEnv:
    - name: AWS_REGION
      value: ""  
  persistence:
    volumeClaimsEnabled: true 
    accessModes:
      - ReadWriteOnce    
    size: 5Gi
    storageClass: ""
  resources:
    requests:
      cpu: 100m
      memory: 256Mi
    limits:
      cpu: 500m
      memory: 512Mi
  autoscaling:
    enabled: false

gateway:
  nginxConfig:
    resolver: "x.x.x.x"  # ClusterIP of CoreDNS in the cluster
  # basicAuth:
  #   enabled: true
  #   username: "loki-user"
  #   password: "secure-password"  # Should use a secret
  enabled: true
  replicas: 1
  ingress:
    enabled: false
  resources:
    requests:
      cpu: 50m
      memory: 64Mi
    limits:
      cpu: 200m
      memory: 128Mi

monitoring:
  selfMonitoring:
    enabled: false
    grafanaAgent:
      installOperator: false
  
  lokiCanary:
    enabled: false

serviceMonitor:
  enabled: false

test:
  enabled: false

singleBinary:
  replicas: 0

ruler:
  enabled: false

indexGateway:
  enabled: false

memcached:
  enabled: false

resultsCache:
  enabled: false

chunksCache:
  enabled: false