global:
  commonLabels: {}

replicas: 1

tempo:
  repository: grafana/tempo
  tag: ""  
  pullPolicy: IfNotPresent
  
  updateStrategy: RollingUpdate
  resources: {}
  #  requests:
  #    cpu: 1000m
  #    memory: 4Gi
  #  limits:
  #    cpu: 2000m
  #    memory: 6Gi

  retention: 336h

  server:
    http_listen_port: 3200
    grpc_listen_port: 9095
    log_level: info 

  readinessProbe:
    httpGet:
      path: /ready
      port: http
    initialDelaySeconds: 30

  livenessProbe:
    httpGet:
      path: /ready
      port: http
    initialDelaySeconds: 60

  storage:
    trace:
      backend: s3
      s3:
        bucket: test-tempo-trace 
        endpoint: s3.ap-southeast-2.amazonaws.com
        region: ap-southeast-2
        access_key: ""  
        secret_key: ""  
        insecure: false 
      
      wal:
        path: /var/tempo/wal
  
  receivers:
    otlp:
      protocols:
        grpc:
          endpoint: 0.0.0.0:4317
        http:
          endpoint: 0.0.0.0:4318
  
  ingester: {}
  compactor: {}
  querier: {}
  query_frontend: {}
  overrides: {}



extraVolumes:
  - name: tempo-wal
    emptyDir: {}  # ephemeral WAL

# mount it into container
extraVolumeMounts:
  - name: tempo-wal
    mountPath: /var/tempo/wal


affinity: {}


service:
  type: ClusterIP

persistence:
  enabled: false
  storageClassName: "" 
  accessModes:
    - ReadWriteOnce
  size: 10Gi 
  

serviceMonitor:
  enabled: false
  interval: 30s
  scrapeTimeout: 10s
  labels: {}
  annotations: {}

securityContext:
  runAsUser: 10001
  runAsGroup: 10001
  fsGroup: 10001
  runAsNonRoot: true

containerSecurityContext:
  allowPrivilegeEscalation: false
  capabilities:
    drop:
      - ALL
  readOnlyRootFilesystem: true

podAnnotations: {}

podLabels: {}

nodeSelector: {}

tolerations: []

priorityClassName: ""

# Service account
serviceAccount:
  create: false
  name: "awscli"
  annotations: {}
