apiVersion: apps/v1
kind: Deployment
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: prometheus
  template:
    metadata:
      labels:
        app: prometheus
    spec:
      containers:
        - name: prometheus
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - containerPort: 9090
              name: http

          args:
            {{- range .Values.prometheus.args }}
            - {{ . | quote }}
            {{- end }}

          envFrom:
            - secretRef:
                name: prometheus-env

          volumeMounts:
            - name: prometheus-config
              mountPath: /etc/prometheus

            {{- if .Values.persistence.enabled }}  
            - name: prometheus-data
              mountPath: /prometheus
            {{- end }}


          readinessProbe:
            httpGet:
              path: /-/ready
              port: 9090
            initialDelaySeconds: 30
            periodSeconds: 15

      volumes:
        - name: prometheus-config
          configMap:
            name: prometheus-config

        {{- if .Values.persistence.enabled }}    
        - name: prometheus-data
          persistentVolumeClaim:
            claimName: prometheus-data
        {{- end }}

---
apiVersion: v1
kind: Service
metadata:
  name: prometheus
  namespace: {{ .Values.namespace }}
spec:
  type: {{ .Values.service.type }}
  selector:
    app: prometheus
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: 9090
      protocol: TCP
