apiVersion: v1
kind: ConfigMap
metadata:
  name: loki-config
  namespace: {{ .Values.namespace }}

data:
  loki-config.yaml: |
    auth_enabled: false

    server:
      http_listen_port: 3100
      grpc_listen_port: 9095

    ingester:
      wal:
        dir: "/tmp/wal"
      lifecycler:
        address: 127.0.0.1
        ring:
          kvstore:
            store: inmemory
          replication_factor: 1
      chunk_idle_period: 5m
      chunk_retain_period: 1m
      chunk_target_size: 6291456
      chunk_block_size: 2097152

    schema_config:
      configs:
        - from: 2023-01-01
          store: tsdb
          object_store: filesystem
          schema: v13
          index:
            prefix: index_
            period: 24h

    storage_config:
      tsdb_shipper:
        active_index_directory: /loki/index
        cache_location: /loki/index_cache
        cache_ttl: 360h
      filesystem:
        directory: /loki/data

    compactor:
      working_directory: /tmp/loki/retention
      retention_enabled: true
      retention_delete_delay: 15m
      retention_delete_worker_count: 150
      delete_request_store: filesystem
      compaction_interval: 10m

    limits_config:
      reject_old_samples: true
      reject_old_samples_max_age: 7d
      query_timeout: 120s
      max_query_length: 2160h
      max_query_series: 1000000
      max_entries_limit_per_query: 5000000
      max_query_parallelism: 16
      retention_period: 2160h

    table_manager:
      retention_deletes_enabled: true
      retention_period: 2160h

    ruler:
      storage:
        type: local
        local:
          directory: /loki/rules
      rule_path: /loki/rules
      ring:
        kvstore:
          store: inmemory
      enable_api: true

