# Microservice identifier
microserviceName: report-scheduler

# Namespace
namespace: agentcis-report-scheduler

managedBy: subash-chaudhary

# Image pull secrets
imagePullSecrets:
  - ecr-registry-secret

# Node affinity (shared by frontend and backend)
nodeAffinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      preference:
        matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - other-server
    - weight: 50
      preference:
        matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - secondary-node1

# PVC names
pvc:
  config:
    name: nfs-report-scheduler-config-pvc
  log:
    name: nfs-report-scheduler-log-pvc

# PV configuration
pv:
  config:
    name: nfs-pv-report-scheduler-config
    capacity: 5Gi
    nfsPath: /agentcis-manifest/report-scheduler/config
    nfsServer: nfs.agentcisinteral.com
    reclaimPolicy: Retain
  log:
    name: nfs-pv-report-scheduler-log
    capacity: 5Gi
    nfsPath: /agentcis-pvc/helm-test
    nfsServer: nfs.agentcisinteral.com
    reclaimPolicy: Retain

# FRONTEND Configuration
frontend:
  enabled: true
  name: report-scheduler-frontend
  replicaCount: 1
  
  image:
    repository: 834033184010.dkr.ecr.ap-southeast-2.amazonaws.com/report-scheduler-frontend
    tag: report-scheduler-frontend-01-19-596de9b
    pullPolicy: IfNotPresent
  
  service:
    port: 80
    portName: nginx-http
    # type: ClusterIP
    targetPort: 80
    type: NodePort
    nodePort: 30004
  
  nginxConfigs:
  - mountPath: "/etc/nginx/nginx.conf"
    subPath: nginx.conf
  - mountPath: "/etc/nginx/conf.d/report-scheduler-frontend-nginx.conf"
    subPath: report-scheduler-frontend-nginx.conf
  
  logs:
    mountPath: "/var/log/nginx"
    subPath: report-scheduler-frontend-log
  
  resources:
    requests:
      memory: "200Mi"
    limits:
      memory: "300Mi"
  
  hpa:
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 50
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 15
        policies:
        - type: Pods
          value: 2
          periodSeconds: 30
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
        - type: Pods
          value: 1
          periodSeconds: 60
  
  ingress:
    enabled: false
    host: smsfe.microservice.agentcis.com
    tlsSecretName: report-scheduler-frontend-tls-secret
    annotations:
      cert-manager.io/cluster-issuer: lets-encrypt
      nginx.ingress.kubernetes.io/proxy-body-size: "100m"
      nginx.ingress.kubernetes.io/rewrite-target: /

# BACKEND Configuration
backend:
  enabled: true
  name: report-scheduler-backend
  replicaCount: 1
  
  image:
    repository: 834033184010.dkr.ecr.ap-southeast-2.amazonaws.com/report-scheduler-service
    tag: report-scheduler-service-01-19-596de9b
    pullPolicy: IfNotPresent
  
  command: ["/bin/bash", "-c"]
  args:
    - |
      echo "-------------------------------"
      echo "k8s => restarting nginx"
      service nginx restart 
      echo "-------------------------------"
      echo "k8s => starting NODE backend"
      echo "-------------------------------"
      pnpm dev | tee -a /prod/packages/report-scheduler-service/logs/report-scheduler-backend.log 

  service:
    port: 3003
    portName: backend-node-port
    # type: ClusterIP
    targetPort: 3003
    type: NodePort
    nodePort: 30007

  envFile:
    mountPath: "/prod/packages/report-scheduler-service/.env"
    subPath: backend.env
  
  logs:
    mountPath: "/prod/packages/report-scheduler-service/logs"
    subPath: report-scheduler-backend-log
  
  resources:
    requests:
      cpu: "250m"
      memory: "400Mi"
    limits:
      cpu: "500m"    
      memory: "600Mi"
  
  hpa:
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 70
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 120
        policies:
        - type: Pods
          value: 1
          periodSeconds: 30
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
        - type: Pods
          value: 1
          periodSeconds: 60
  
  ingress:
    enabled: false
    host: smsapi.microservice.agentcis.com
    tlsSecretName: report-scheduler-backend-tls-secret
    annotations:
      cert-manager.io/cluster-issuer: lets-encrypt
      nginx.ingress.kubernetes.io/proxy-intercept-errors: "false"
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS"
      nginx.ingress.kubernetes.io/cors-allow-origin: "*"
      nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization"
      nginx.ingress.kubernetes.io/proxy-body-size: "50m"


backendConsumer:
  enabled: false

auth:
  enabled: false
