# Microservice identifier
microserviceName: onboarding

# Namespace
namespace: agentcis-onboarding

managedBy: subash-chaudhary

# Node affinity (shared by frontend and backend)
nodeAffinity:
  nodeAffinity:
    preferredDuringSchedulingIgnoredDuringExecution:
    - weight: 100
      preference:
        matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - other-server
    - weight: 50
      preference:
        matchExpressions:
        - key: kubernetes.io/hostname
          operator: In
          values:
          - secondary-node1

# PVC names
pvc:
  config:
    name: nfs-onboarding-config-pvc
  log:
    name: nfs-onboarding-log-pvc

# PV configuration
pv:
  config:
    name: nfs-pv-onboarding-config
    capacity: 5Gi
    nfsPath: /agentcis-manifest/onboarding/config
    nfsServer: nfs.agentcisinteral.com
    reclaimPolicy: Retain
  log:
    name: nfs-pv-onboarding-log
    capacity: 5Gi
    nfsPath: /agentcis-pvc/helm-test
    nfsServer: nfs.agentcisinteral.com
    reclaimPolicy: Retain

# FRONTEND Configuration
frontend:
  enabled: true
  name: onboarding-frontend
  replicaCount: 1
  
  image:
    repository: 834033184010.dkr.ecr.ap-southeast-2.amazonaws.com/onboarding-frontend
    tag: onboarding-frontend-01-19-596de9b
    pullPolicy: IfNotPresent
  
  service:
    port: 80
    portName: nginx-http
    # type: ClusterIP
    targetPort: 80
    type: NodePort
    nodePort: 30004
  
  nginxConfigs:
  - mountPath: "/etc/nginx/nginx.conf"
    subPath: nginx.conf
  - mountPath: "/etc/nginx/conf.d/onboarding-frontend-nginx.conf"
    subPath: onboarding-frontend-nginx.conf
  
  logs:
    mountPath: "/var/log/nginx"
    subPath: onboarding-frontend-log
  
  resources:
    requests:
      #cpu: "100m"
      memory: "200Mi"
    limits:
      #cpu: "250m"
      memory: "300Mi"
  
  hpa:
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 50
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 15
        policies:
        - type: Pods
          value: 2
          periodSeconds: 30
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
        - type: Pods
          value: 1
          periodSeconds: 60
  
  ingress:
    enabled: false
    host: xx.microservice.agentcis.com
    tlsSecretName: onboarding-frontend-tls-secret
    annotations:
      cert-manager.io/cluster-issuer: lets-encrypt
      nginx.ingress.kubernetes.io/proxy-body-size: "100m"
      nginx.ingress.kubernetes.io/rewrite-target: /

# BACKEND Configuration
backend:
  enabled: true
  name: onboarding-backend
  replicaCount: 1
  
  image:
    repository: 834033184010.dkr.ecr.ap-southeast-2.amazonaws.com/onboarding-service
    tag: onboarding-service-01-19-596de9b
    pullPolicy: IfNotPresent
  
  command: ["/bin/bash", "-c"]
  args:
    - |
      echo "-------------------------------"
      echo "k8s => restarting nginx"
      service nginx restart 
      echo "-------------------------------"
      echo "k8s => starting NODE backend"
      echo "-------------------------------"
      pnpm dev | tee -a /prod/packages/onboarding-service/logs/onboarding-backend.log 

  # probe configurations
  livenessProbe:
    httpGet:
      path: /health-check
      port: 3002
    initialDelaySeconds: 10
    periodSeconds: 10
    failureThreshold: 3
  
  readinessProbe:
    httpGet:
      path: /health-check
      port: 3002
    initialDelaySeconds: 5
    periodSeconds: 10
  
  startupProbe:
    httpGet:
      path: /health-check
      port: 3002
    initialDelaySeconds: 15
    periodSeconds: 5
    failureThreshold: 10

  service:
    port: 3003
    portName: backend-node-port
    # type: ClusterIP
    targetPort: 3003
    type: NodePort
    nodePort: 30007

  envFile:
  - mountPath: "/prod/packages/onboarding-service/.env"
    subPath: backend.env
  
  logs:
    mountPath: "/prod/packages/onboarding-service/logs"
    subPath: onboarding-backend-log
  
  resources:
    requests:
      cpu: "250m"
      memory: "400Mi"
    limits:
      cpu: "500m"    
      memory: "600Mi"
  
  hpa:
    minReplicas: 1
    maxReplicas: 3
    targetCPU: 70
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 120
        policies:
        - type: Pods
          value: 1
          periodSeconds: 30
      scaleDown:
        stabilizationWindowSeconds: 300
        policies:
        - type: Pods
          value: 1
          periodSeconds: 60
  
  ingress:
    enabled: false
    host: xx.microservice.agentcis.com
    tlsSecretName: onboarding-backend-tls-secret
    annotations:
      cert-manager.io/cluster-issuer: lets-encrypt
      nginx.ingress.kubernetes.io/proxy-intercept-errors: "false"
      nginx.ingress.kubernetes.io/enable-cors: "true"
      nginx.ingress.kubernetes.io/cors-allow-methods: "GET, POST, PUT, DELETE, OPTIONS"
      nginx.ingress.kubernetes.io/cors-allow-origin: "*"
      nginx.ingress.kubernetes.io/cors-allow-headers: "DNT,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type,Range,Authorization"
      nginx.ingress.kubernetes.io/proxy-body-size: "50m"


backendConsumer:
  enabled: false

auth:
  enabled: false
